html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1000px;
  padding-top: 50px;
}

// Menu

.header {
  background-color: #860202;
  display: flex;
  justify-content: center;
  width: 100%;

  .link {
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
  }
}

// Page - Heroes
.list-heroes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  
  h1 {
    width: 100%;
  }

  .content {
    width: 250px;
    padding: 10px 15px 10px 5px;
    display: flex;
    flex-direction: column;

    .title {
    }

    .image {
    }
  }
}
